@model List<PressNewLayoutDto>
<section class="mf-slider">
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="@(i==0 ? "active":"")" aria-label="Slide @(i+1)"></button>
                }


            </div>
            <div class="carousel-inner">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="carousel-item @(i==0 ? "active":"")">
                        <img class="d-block w-100" src="~/assets/img/homeslide/@Model[i].ImageUrl" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5><a href="">@Model[i].Title </a></h5>
                            <h3><a href="">@Model[i].SubDescription</a></h3>
                            <p><a href="">@Model[i].Description</a></p>
                        </div>
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
</section>


<!-- current -->
<section class="mf-current">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pb-5">

                <div class="mf-block-header d-flex">
                    <h2 class="mf-title">Current issues</h2>
                </div>

                <div class="row">
                    <div class="col-md-3 mb-3 mb-md-0">
                        <a href="/en/elections/pages/presidential-elections/07-02-2024" class="mf-current-item d-flex align-items-center">
                            <p>Presidential Elections - 2024</p>
                            <i class="fa-regular fa-circle-right"></i>

                        </a>
                    </div>
                    <div class="col-md-3 mb-3 mb-md-0">
                        <a href="/en/elections/view/1202" class="mf-current-item d-flex align-items-center">
                            <p>Free airtime and space for publication - 26.12.2023</p>
                            <i class="fa-regular fa-circle-right"></i>
                        </a>
                    </div>
                    <div class="col-md-3 mb-3 mb-md-0">
                        <a href="https://www.infocenter.gov.az/e-services/adsoyad.aspx" class="mf-current-item d-flex align-items-center">
                            <p>
                                Search your name in the voters' list
                            </p>
                            <i class="fa-regular fa-circle-right"></i>
                        </a>
                    </div>
                    <div class="col-md-3 mb-3 mb-md-0">
                        <a href="/az/news" class="mf-current-item d-flex align-items-center">
                            <p>Agenda news</p>
                            <i class="fa-regular fa-circle-right"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- news -->
<section class="mf-news">
    <div class="container">
        <div class="mf-block-header d-flex">
            <h2 class="mf-title me-auto">Press-release</h2>
            <div class="mf-news-more d-flex align-items-center"><a href="/en/news" class="btn btn-primary">All news</a></div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-7 d-flex flex-row">
                <article class="article-item">
                    <div class="article-img"><img src="~/assets/img/pressnews/" alt=""></div>
                    <div class="article-content">
                        <p>Regarding the Presidential elections, Technical Supervision Center on webcams was visited</p>
                        <time>31 january 2024 17:00</time>
                    </div>
                    <a href="/en/news/view/1255" class="mf-link"></a>
                </article>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-5 d-flex">
                <div class="list-news d-flex flex-column">
                    <article data-image="/uploads/dataimages/2024/01/31/cb1782075a93bf9621d9e3b1b6f764331706716748-photo.jpeg" class="active">
                        <p>Regarding the Presidential elections, Technical Supervision Center on webcams was visited</p>
                        <time><i class="bi bi-calendar-date"></i> 31 january 2024 17:00</time>
                        <a href="/en/news/view/1255" class="mf-link"></a>
                    </article>
                    <article data-image="/uploads/dataimages/2024/01/31/c27306d56a71f09c2dbdd8f655f03c141706680345-photo.jpeg" class="">
                        <p>Central Election Commission held seminar jointly with the Ministry of Health and TABIB</p>
                        <time><i class="bi bi-calendar-date"></i> 30 january 2024 15:00</time>
                        <a href="/en/news/view/1254" class="mf-link"></a>
                    </article>
                    <article data-image="/uploads/dataimages/2024/01/29/7ea5a37fc86916576133a26fc855472d1706526285-photo.jpeg" class="">
                        <p>A round table dedicated to the increase of women participation in elections was held</p>
                        <time><i class="bi bi-calendar-date"></i> 29 january 2024 11:50</time>
                        <a href="/en/news/view/1252" class="mf-link"></a>
                    </article>
                    <article data-image="/uploads/dataimages/2024/01/26/c27ca5cc5574619658c84efc64cdae491706286481-photo.jpeg" class="">
                        <p>Central Election Commission conducted the next session on January 26, 2024</p>
                        <time><i class="bi bi-calendar-date"></i> 26 january 2024 19:00</time>
                        <a href="/en/news/view/1251" class="mf-link"></a>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="mf-elections">
    <div class="container">
        <div class="mf-block-header d-flex">
            <h2 class="mf-title">Elections (Referendum)</h2>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-3 mb-3">
                <a href="/en/referendum" class="election-item">
                    <span class="mf-title">Referendum</span>
                    <span class="mf-icon"><i class="bi bi-arrow-right"></i></span>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 mb-3">
                <a href="/en/elections/pages/elections-milli-majlis" class="election-item">
                    <span class="mf-title">Elections to the <br>Milli Majlis</span>
                    <span class="mf-icon"><i class="bi bi-arrow-right"></i></span>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 mb-3">
                <a href="/en/elections/pages/presidential-elections" class="election-item">
                    <span class="mf-title">Presidential elections</span>
                    <span class="mf-icon"><i class="bi bi-arrow-right"></i></span>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 mb-3">
                <a href="/en/elections/pages/municipal-elections" class="election-item">
                    <span class="mf-title">Municipal elections</span>
                    <span class="mf-icon"><i class="bi bi-arrow-right"></i></span>
                </a>
            </div>
        </div>
    </div>
</section>


<section class="mf-useful-links">
    <div class="container">


        <div class="row">

            <div class="col-lg-3 col-md-3">
                <a href="https://www.virtualkarabakh.az" target="_blank" rel="noopener noreferrer" class="useful-links-item d-flex align-items-center">
                    <span class="mf-img"><img src="/uploads/Image/2023/06/02/45c6dfa95aa5e0d63937305f09492bf7_8721FB-87C73F-CECBA2-6B3708-2D46BF-C0D1A5.png" alt="Virtual Karabakh"></span>
                    <span class="mf-title">Virtual Karabakh</span>
                </a>
            </div>

            <div class="col-lg-3 col-md-3">
                <a href="/en/pages/view/mskxerite" target="_blank" rel="noopener noreferrer" class="useful-links-item d-flex align-items-center">
                    <span class="mf-img"><img src="/uploads/Image/2023/06/02/79509b2f119fe5375f9e5e12dd5b2cd2_D9C934-FEBE29-B4D0E8-98CC0E-6DA3B5-8F40A6.png" alt="Election constituencies and precincts"></span>
                    <span class="mf-title">Election constituencies and precincts</span>
                </a>
            </div>

            <div class="col-lg-3 col-md-3">
                <a href="https://www.infocenter.gov.az/e-services/adsoyad.aspx" target="_blank" rel="noopener noreferrer" class="useful-links-item d-flex align-items-center">
                    <span class="mf-img"><img src="/uploads/Image/2023/06/02/7ba1e829c39971e16c02504ee4117227_A16F8C-044DA6-D155F0-E26C3C-BE3FE0-2607AD.png" alt="Search your name in the voters' list"></span>
                    <span class="mf-title">Search your name in the voters' list</span>
                </a>
            </div>

            <div class="col-lg-3 col-md-3">
                <a href="https://www.e-gov.az/az/services/index/?t=unregistered" target="_blank" rel="noopener noreferrer" class="useful-links-item d-flex align-items-center">
                    <span class="mf-img"><img src="/uploads/Image/2023/06/06/c0ec92e7f6042fb56251665fd278ea24_D7BA89-F69C0E-08FE66-504E7C-910DE3-A0E1CC.png" alt="E-services"></span>
                    <span class="mf-title">E-services</span>
                </a>
            </div>
        </div>
    </div>
</section>