@model HomeIndexViewModel
<section class="mf-slider">
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                @for (int i = 0; i < Model.PressNewLayoutDtos.Count; i++)
                {
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="@(i==0 ? "active":"")" aria-label="Slide @(i+1)"></button>
                }


            </div>
            <div class="carousel-inner">
                @for (int i = 0; i < Model.PressNewLayoutDtos.Count; i++)
                {
                    <div class="carousel-item @(i==0 ? "active":"")">
                        <img class="d-block w-100" src="~/assets/img/pressnew/@Model.PressNewLayoutDtos[0].ImageUrl" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5><a asp-action="detail" asp-controller="pressnew" asp-route-id="@Model.PressNewLayoutDtos[i].Id">@Model.PressNewLayoutDtos[i].Title </a></h5>
                            <h3><a asp-action="detail" asp-controller="pressnew" asp-route-id="@Model.PressNewLayoutDtos[i].Id">@Model.PressNewLayoutDtos[i].Description</a></h3>
                           
                        </div>
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
</section>


<!-- current -->
<section class="mf-current">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pb-5">

                <div class="mf-block-header d-flex">
                    <h2 class="mf-title">Current issues</h2>
                </div>

                <div class="row">
                    <div class="col-md-3 mb-3 mb-md-0">
                        <a asp-action="details" asp-controller="election" asp-route-id="1" class="mf-current-item d-flex align-items-center">
                            <p>Presidential Elections - 2024</p>
                            <i class="fa-regular fa-circle-right"></i>

                        </a>
                    </div>
                    
                    <div class="col-md-3 mb-3 mb-md-0">
                        <a href="https://www.infocenter.gov.az/e-services/adsoyad.aspx" class="mf-current-item d-flex align-items-center">
                            <p>
                                Search your name in the voters' list
                            </p>
                            <i class="fa-regular fa-circle-right"></i>
                        </a>
                    </div>
                    <div class="col-md-3 mb-3 mb-md-0">
                        <a  asp-action="index" asp-controller="pressnew" class="mf-current-item d-flex align-items-center">
                            <p>Agenda news</p>
                            <i class="fa-regular fa-circle-right"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- news -->
<section class="mf-news">
    <div class="container">
        <div class="mf-block-header d-flex">
            <h2 class="mf-title me-auto">Press-release</h2>
            <div class="mf-news-more d-flex align-items-center"><a asp-action="index" asp-controller="pressnew" class="btn btn-primary">All news</a></div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-7 d-flex flex-row">
                <article class="article-item">
                    <div class="article-img"><img class="image-article w-100" src="~/assets/img/pressnew/@Model.PressNewLayoutDtos[0].ImageUrl" alt=""></div>
                    <div class="article-content">
                       
                        <p>@Model.PressNewLayoutDtos[0].Description</p>
                        <time>@Model.PressNewLayoutDtos[0].CreationTime.ToString("dd MMMM yyyy HH:mm")</time>
                    </div>
                    <a asp-action ="detail" asp-controller="pressnew" asp-route-id="@Model.PressNewLayoutDtos[0].Id" class="mf-link"></a>
                </article>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-5 d-flex">
                <div class="list-news d-flex flex-column">
                    @for (int i = 0; i < Model.PressNewLayoutDtos.Count; i++)
                    {
                        <article data-image="/assets/img/pressnew/@Model.PressNewLayoutDtos[i].ImageUrl" class=" article-item  article-active">
                          
                            <p >@Model.PressNewLayoutDtos[i].Description</p>
                            <time class="time">
                                <i class="bi bi-calendar-date"></i>@Model.PressNewLayoutDtos[i].CreationTime.ToString("dd MMMM yyyy HH:mm")
                            </time>
                            <a asp-action="detail" asp-controller="pressnew" asp-route-id="@Model.PressNewLayoutDtos[i].Id" class="mf-link"></a>
                        </article>
                    }

                </div>
            </div>
        </div>
    </div>
</section>



<section class="mf-elections">
    <div class="container">
        <div class="mf-block-header d-flex">
            <h2 class="mf-title">Elections (Referendum)</h2>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-3 mb-3">
                <a asp-action="index" asp-controller="referendum" class="election-item">
                    <span class="mf-title">Referendum</span>
                    <span class="mf-icon"><i class="bi bi-arrow-right"></i></span>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 mb-3">
                <a  asp-action="vote" asp-controller="ivoting" class="election-item">
                    Participate in Election
                    <span class="mf-icon"><i class="bi bi-arrow-right"></i></span>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 mb-3">
                <a  asp-action="index" asp-controller="election" class="election-item">
                    <span class="mf-title">Presidential elections</span>
                    <span class="mf-icon"><i class="bi bi-arrow-right"></i></span>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 mb-3">
                <a asp-action="index" asp-controller="election" class="election-item">
                    <span class="mf-title">Municipal elections</span>
                    <span class="mf-icon"><i class="bi bi-arrow-right"></i></span>
                </a>
            </div>
        </div>
    </div>
</section>
@section siteJS{
    <script src="~/assets/js/site.js"></script>
}