@model IEnumerable<SettingGetDto>
@{
    int counter = 0;
}
@section cssLinks{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.1/sweetalert2.min.css" />
}
    <style>
        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;
        }
    </style>
    <div class="container-fluid">
        <div class="header">
            <h1>Settings Table </h1>
            
        </div>
        <table class="table table-striped shadow">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Key</th>
                    <th scope="col">Value</th>


                </tr>
            </thead>
            <tbody>
            @foreach (var setting in Model)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td>@setting.Key</td>
                    <td>@setting.Value</td>

                    <td>
                        <a class="btn btn-warning ms-1" asp-controller="referendum" asp-action="Update" asp-route-id="@setting.Id">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>

                        <a class="btn btn-danger delete-btn ms-1" asp-action="Delete" asp-route-id="@setting.Id" asp-controller="referendum">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                        <a class="btn btn-info ms-1" data-bs-toggle="modal" data-bs-target="#item@(setting.Id)Modal">
                            <i class="fa-solid fa-circle-info"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section jsFiles{
    <script src="~/admin/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.1/sweetalert2.min.js"></script>
}