@inject LayoutService layoutService
@{
    var user = await layoutService.GetUser();
    ViewBag.CurrentPath = Context.Request.Path;
    var date = await layoutService.GetActiveELectionTime();
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link type="image/png" rel="icon" href="~/assets/img/logo.png" sizes="32x32" />
    <link type="image/png" rel="icon" href="~/assets/img/logo.png" sizes="16x16" />

    <title>MSK Admin</title>

    <!-- Custom fonts for this template-->
    <link href="~/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("cssFiles" ,false)
    <!-- Custom styles for this template-->
    <link href="~/admin/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/admin/css/sb-admin-2.css" rel="stylesheet">
    <link href="~/admin/css/main.css" rel="stylesheet">
    <link href="~/admin/css/_responsive.css" rel="stylesheet">




</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav sidebar__admin bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/manage/home/index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <svg width="22" height="32" viewBox="0 0 55 81" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M30.1984 0.0144043C24.8945 0.425781 25.2534 6.16968 26.6435 7.65326C22.693 10.3649 13.1875 16.8867 6.76944 21.2803C1.21531 25.0824 -0.842975 34.6064 1.11159 40.8262C3.00952 46.8658 12.4904 51.3615 17.5337 52.7256C17.5337 52.7256 11.7188 56.0269 6.60358 60.0482C1.48831 64.0695 -0.622615 69.3436 3.06836 75.262C6.75933 81.1805 12.725 80.761 17.5257 78.6229C22.3264 76.4848 32.1683 69.1692 37.9402 65.1633C42.7282 61.5411 43.9669 53.6444 41.7631 46.9643C39.9758 41.5468 30.0969 36.4284 25.1792 34.6064C27.1946 33.1595 32.4935 29.4242 37.129 26.0909C38.7184 30.5636 43.9998 30.212 45.6103 27.8209C47.6216 23.4326 51.8339 13.4663 53.9579 8.55175C54.8862 4.81044 52.5639 2.78457 50.2227 2.35938C46.8672 1.75 38.3222 0.960115 30.1984 0.0144043Z"></path><path fill-opacity="0.2" fill="#FFF" d="M26.6523 7.65625C24.9492 5.625 25.3239 0.255308 30.2922 0.0105286C33.0074 0.326611 35.7804 0.62685 38.3907 0.909477C43.5904 1.47246 48.1446 1.96556 50.311 2.3748C52.7331 2.83234 54.886 5.06072 53.9543 8.61103C53.2063 10.3418 52.2075 12.6646 51.1482 15.1282C49.1995 19.6601 47.0459 24.6685 45.8717 27.3445C44.7224 29.964 39.111 31.0585 37.1137 26.0951C32.4782 29.4283 27.2884 33.1556 25.273 34.6026C24.931 34.4553 24.3074 34.2381 23.5124 33.9613C20.8691 33.0407 16.331 31.4602 13.9477 29.5966C9.61363 25.5918 11.6259 19.4662 13.1737 16.904C17.8273 13.7183 20.7417 11.7161 23.4984 9.82236C24.5437 9.10427 25.5662 8.40178 26.6523 7.65625Z"></path><path fill-opacity="0.2" fill="#FFF" d="M17.543 52.7266C21.2241 53.9875 28.5535 57.0509 30.091 59.101C32.0129 61.6635 33.1576 64.34 29.2527 71.2039C28.5954 71.6481 27.9821 72.0633 27.4069 72.4528C22.1953 75.9817 20.1085 77.3946 16.6243 79.0531C13.5855 80.2464 6.61575 81.7103 2.66559 74.5653C-1.11764 67.7222 3.23818 62.7113 6.5963 60.065L12.1695 56.0339L14.8359 54.3477L17.543 52.7266Z"></path></svg>
                </div>
                <div class="sidebar-brand-text mx-3">MSK Admin</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" asp-action="index" asp-controller="home">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>



            <li class="nav-item">
                <a class="nav-link" asp-action="index" asp-controller="accredation">
                    <i class="fa-solid fa-print"></i>
                    <span>Accredations</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="index" asp-controller="calendarplan">
                    <i class="fa-solid fa-calendar"></i>
                    <span>Calendar Plans</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="index" asp-controller="candidate">
                    <i class="fa-solid fa-users"></i>
                    <span>Candidates</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="index" asp-controller="contact">
                    <i class="fa-solid fa-address-card"></i>
                    <span>Contacts</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="index" asp-controller="decision">
                    <i class="fa-solid fa-bell-concierge"></i>
                    <span>Decisions</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="index" asp-controller="election">
                    <i class="fa-solid fa-check-to-slot"></i>
                    <span>Elections</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="index" asp-controller="homeslide">
                    <i class="fa-solid fa-sliders"></i>
                    <span> Home page slides</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="index" asp-controller="info">
                    <i class="fa-solid fa-circle-info"></i>
                    <span>Infos</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="index" asp-controller="instruction">
                    <i class="fa-solid fa-chalkboard-user"></i>
                    <span>Instructions</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="index" asp-controller="legislation">
                    <i class="fa-solid fa-scroll"></i>
                    <span>Legislations</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="index" asp-controller="nationalattribute">
                    <i class="fa-solid fa-building-flag"></i>
                    <span>Nasional Attribites</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="index" asp-controller="pressnew">
                    <i class="fa-regular fa-newspaper"></i>
                    <span>Press news</span>
                </a>
            </li>
          
            <li class="nav-item">
                <a class="nav-link" asp-action="index" asp-controller="referendum">
                    <i class="fa-solid fa-ticket"></i>
                    <span>Referendums</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="index" asp-controller="setting">
                    <i class="fa-solid fa-gear"></i>
                    <span>Settings</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="roles" asp-controller="account">
                    <i class="fa-solid fa-wand-magic-sparkles"></i>
                    <span>Roles</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="index" asp-controller="subdecision">
                    <i class="fa-solid fa-compass-drafting"></i>
                    <span>Subdecisions</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="index" asp-controller="subinstruction">
                    <i class="fa-solid fa-diagram-predecessor"></i>
                    <span>Subunstructions</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="index" asp-controller="voter">
                    <i class="fa-solid fa-users-between-lines"></i>
                    <span>Voters</span>
                </a>
                <div class="text-center d-none d-md-inline ms-5">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">


                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="nav-link dropdown-toggle me-5" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">

                                        @user?.UserName

                                    </span>
                                    <img style="min-width:35px; max-width:35px;min-height:35px; max-height:35px;" class="~/admin/img-profile rounded-circle"
                                         src="@(user?.ImageUrl is not null ? "/admin/img/user/"+user.ImageUrl:"/admin/img/undraw_profile.svg")">
                                </a>
                            }
                            else
                            {
                                <a class="nav-link dropdown-toggle me-5" href="/manage/account/login" role="button">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 ">
                                        Sign In
                                    </span>
                                </a>
                            }
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">

                                <a href="#myModal15" role="button" class="dropdown-item" data-toggle="modal">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>

                            <div id="myModal15" class="modal" data-easein="bounceRightIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <div class="modal-content shadow form-container">
                                        <h2>Edit Profile</h2>
                                        <div class="profile-modal d-block">


                                            <form method="post" id="profile-form" asp-action="updateuser" asp-controller="account" asp-area="manage" asp-route-cpage="@ViewBag.CurrentPath" enctype="multipart/form-data">
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                <div class="image-container">
                                                    <img src="@(user?.ImageUrl is not null ? "/admin/img/user/"+user.ImageUrl:"/admin/img/undraw_profile.svg")" alt="Profile Image" id="preview-image">
                                                    <input type="file" id="profile-image" name="Image" accept="image/*" style="display: none" onchange="previewImage(this)">
                                                    <a onclick="document.getElementById('profile-image').click()"><i class="fa-regular fa-pen-to-square"></i></a>
                                                </div>
                                                <div class="form-group col-lg-7 col-xl-8">
                                                    <label class="control-label">Username</label>
                                                    <input type="text" class="form-control"  name="UserName" autocomplete="off" placeholder="Username..." />
                                                </div>
                                                <div class="form-group col-lg-7 col-xl-8">
                                                    <label class="control-label">Password</label>
                                                    <input type="password" class="form-control" name="Password" autocomplete="on" />
                                                </div>
                                                <div class="form-group col-lg-7 col-xl-8">
                                                    <label class="control-label">New Password</label>
                                                    <input type="password" class="form-control" name="NewPassword" autocomplete="off" />
                                                </div>


                                            </form>


                                        </div>
                                        <div class="modal-footer">
                                            <button  class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
                                            <button form="profile-form"  class="btn btn-primary">Update User</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                @RenderBody()
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" asp-action="logout" asp-controller="account">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        function previewImage(input) {
            const preview = document.getElementById('preview-image');
            const file = input.files[0];

            if (file) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    preview.src = e.target.result;
                };

                reader.readAsDataURL(file);
            }
        }
        //function () {
        //    const second = 1000,
        //        minute = second * 60,
        //        hour = minute * 60,
        //        day = hour * 24;

        //    // Fetch data from layout service
        //     function fetchData() {
        //        try {
        //            const response = @date;// Replace with the actual endpoint
        //            const data = await response.json();

        //            if (data) {
        //                // Update countdown based on the data received
        //                const countDown = new Date(data.StartDate).getTime();

        //                const x = setInterval(function () {
        //                    const now = new Date().getTime(),
        //                        distance = countDown - now;

        //                    document.getElementById("days").innerText = Math.floor(distance / day);
        //                    document.getElementById("hours").innerText = Math.floor((distance % day) / hour + 8);
        //                    document.getElementById("minutes").innerText = Math.floor((distance % hour) / minute);
        //                    document.getElementById("seconds").innerText = Math.floor((distance % minute) / second);

        //                    // do something later when date is reached
        //                    if (distance < 0) {
        //                        document.getElementById("countdown").style.display = "none";
        //                        clearInterval(x);
        //                    }
        //                }, 0);
        //            }
        //        } catch (error) {
        //            console.error('Error fetching data:', error);
        //        }
        //    }

        //    // Call the fetchData function
        //    fetchData();
        //}();
    </script>
    
    <!-- Bootstrap core JavaScript-->
    <script src="~/admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/admin/js/sb-admin-2.min.js"></script>
    @RenderSection("chartsJs" ,false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
    @RenderSection("jsFiles" ,false)
    @RenderSection("Scripts" ,false)

</body>

</html>